<div class="item-kdo">
    {% set kdoBought = false %}
    {% if kdo.forecast == entity.quantity*entity.price %}
        {% set kdoBought = true %}
    {% endif %}
    <h3 class="text-center nomargin">
        {% if is_granted('LISTKDO_UPDATE', entity.listkdo) and kdoBought == false %}

            <a href="{{ path('appbundle_kdo_edit', {'id': entity.id}) }}" class="tiny button  vertical">
                {{ 'app.kdo.include.update'|trans }}
            </a>

        {% endif %}
        {{ entity.name }}
        {% if entity.icon %}
            <img src="/{{ entity.webicon }}" class="vertical icon-listkdo-small"/>
        {% endif %}
    </h3>
    {% if kdoBought == true %}
        <h3 class="text-center alert-box success nomargin">
            {{ 'app.kdo.include.founded'|trans }}
        </h3>
    {% endif %}
    {% if entity.description %}
        <p class=" nomargin">
            {{ entity.description }}
        </p>
    {% endif %}

    <ul class="inline-list text-center  nomargin">

        <li>{{ 'app.kdo.include.quantity'|trans }} : {{ entity.quantity }}</li>

        <li>{{ 'app.kdo.include.price'|trans }} : {{ entity.price }} €</li>

        {% if entity.link %}
            <li>
                <a href="{{ entity.link }}" target="_blank" class="text-right">
                    {{ 'app.kdo.include.link'|trans }}
                    <span class="icon-arrow-right2 icon-large vertical"></span>
                </a>
            </li>
        {% endif %}
        {% if is_granted('LISTKDO_VIEW', entity.listkdo) and kdoBought == false %}
            <li>
                <a href="{{ path('appbundle_userkdo_create_kdo', {'id': entity.id}) }}" class="text-right">
                    <span class="icon-coin-euro icon-large vertical"></span>
                    {{ 'app.kdo.include.shop'|trans }}
                </a>
            </li>
        {% endif %}
    </ul>

    {% if entity.usersKdo|length > 0 %}
        <h5 class="text-center  nomargin">
            {{ 'app.kdo.include.contributor'|trans }} - {{ entity.forecast }}€
        </h5>
        <ul class="inline-list">
            {% for userK in entity.usersKdo %}
                <li >
                    <p class=" nomargin">
                        {{ userK.user.username }} {{ userK.userShare }} €
                    </p>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</div>