<div class="row full-width" style="
        background-image: url('/{{ entity.webpicture }}');
        background-size: 100% auto;
        background-repeat: no-repeat;
        ">
    <div class="small-12 columns">
        <div class="row">
            <div class="small-3 columns text-center">
                <img class="vertical icon-listkdo-large" src="/{{ entity.webicon }}">
            </div>
            <div class="small-9 columns">
                <h2 class="text-center listkdo-title">
                    <span class="panel inlineblock">{{ entity.name }}</span>
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="small-10 small-centered medium-6 medium-centered columns">

                {% if entity.description != null %}
                    <p class="panel">{{ entity.description }}</p>
                {% endif %}

                <p class="text-right"><span class="panel inlineblock">{{ entity.user.username }}
                        -  {{ entity.date|localdate }}</span></p>
            </div>
        </div>
    </div>

</div>
