<div class="row full-width">
    <div class="small-12 columns">
        <div class="row">
            <div class="small-3 columns text-center">
                <img class="vertical icon-listkdo-large" src="/{{ entity.webicon }}">
            </div>
            <div class="small-9 columns">
                <h2 class="text-center listkdo-title">
                    <span class="panel-transparency inlineblock">{{ entity.name }}</span>
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="small-10 small-centered medium-6 medium-centered columns">

                {% if entity.description != null %}
                    <p class="panel-transparency">{{ entity.description }}</p>
                {% endif %}

                <p class="text-right"><span class="panel-transparency inlineblock">{{ entity.user.username }}
                        -  {{ entity.date|localdate }}</span></p>
            </div>
        </div>
        <div class="row">
            <div class="small-10 small-centered medium-8 medium-centered columns">
                <p class="panel-transparency">
                    {{ 'app.listkdo.slug.helpto'|trans|raw }}
                </p>
            </div>
        </div>
    </div>
</div>

