<li class="nopadding">

    <div class="row">

        <div class="medium-4 columns text-center">
            <img class="vertical icon-listkdo" src="/{{ entity.webicon }}">
        </div>
        <div class="medium-8 columns">

            <h2 class="text-center listkdo-title">
                {{ entity.name }}
                <a href="{{ path('appbundle_listkdo_slug', {'slug': entity.slug}) }}">
                    <span class="icon-eye icon-xx-large vertical"></span>
                </a>
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="medium-8 medium-centered columns">

            {% if entity.description != null %}
                <p class="nomargin">{{ entity.description }}</p>
            {% endif %}

            <p class="text-right nomargin">{{ entity.user.username }}  -  {{ entity.date|localdate }}</p>
        </div>

    </div>
</li>
