{% extends '::base.html.twig' %}


{% block title %}
    {{ 'app.kdo.edit.title'|trans({'%name%': entity.listkdo.name}) }}
{% endblock title %}

{% block page %}
    <div class="row">
        <div class="medium-12 columns">
            <h1 class="text-center title">
                {{ 'app.kdo.edit.title'|trans({'%name%': entity.listkdo.name}) }}
            </h1>
        </div>
    </div>

    <div class="panel">
        {{ form(edit_form) }}
    </div>


    <div class="row">
        <div class="small-4 columns text-left">
            {% if is_granted('ROLE_ADMIN') %}
                <a class="link-return" href="{{ path('appbundle_kdo') }}">
                    <i class="icon-arrow-left icon-large vertical"></i>
                    {{ 'link.return'|trans }}
                </a>
            {% else %}
                <a class="link-return" href="{{ path('appbundle_listkdo_slug', {'slug': entity.listkdo.slug}) }}">
                    <i class="icon-arrow-left icon-large vertical"></i>
                    {{ 'app.kdo.edit.returnliste'|trans }}
                </a>
            {% endif %}
        </div>
        <div class="small-4 columns text-center">
            {{ form(delete_form) }}
        </div>
    </div>

{% endblock %}
