{% extends '::base.html.twig' %}


{% block title %}
    {{ 'app.listkdo.slug.title'|trans({'%name%': entity.name}) }}
{% endblock title %}

{% block page %}

    <div class="" style="
            background-image: url('/{{ entity.webpicture }}');
            background-size: 100% auto;
            background-repeat: no-repeat;
            ">

        {% if is_granted('LISTKDO_UPDATE', entity) %}

            <a href="{{ path('appbundle_listkdo_edit', {'id': entity.id}) }}" class="tiny button ">
                {{ 'app.listkdo.slug.update'|trans }}
            </a>

        {% endif %}

        {% include 'AppBundle:ListKdo:include/div-listkdo.html.twig' with{'entity': entity} %}

        {% if is_granted('LISTKDO_UPDATE', entity) %}

            <a href="{{ path('appbundle_kdo_create_listkdo', {'id': entity.id}) }}" class="tiny button ">
                {{ 'app.listkdo.slug.addkdo'|trans }}
            </a>

        {% endif %}


        <div class="row">
            <div class="medium-10 medium-centered columns panel">
                <h2 class="text-center">
                    {{ 'app.listkdo.slug.listkdo'|trans }}
                </h2>
                {% for key,kdo in entity.kdos %}

                    {% include 'AppBundle:Kdo:include/div-kdo.html.twig' with{'entity': kdo} %}

                {% endfor %}
            </div>
        </div>

    </div>

{% endblock %}
